:root{
    --Amarillo: #EAC926;
    --Azul: #03264C;
    --Celeste: #1259c3;
    --Gris-oscuro: #666;
    --Gris-claro: #ebebeb;
    --Verde: #39b54a;
    --verderOscuro: #00a650;

    --letraPrincipal: 'Roboto', sans-serif;

    --paragraph: 12px;
    --discounts: 16px;
    --Titulares: 24px; /* (Basado en tu última visita/Ofertas)*/
    --Precios: 18px;    
    --Descuentos: 16px;
    --Descripciones: 16px;
}

/*Estilos Generales!!*/

/*Resetear cajas!*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

a{
    color:black;
    text-decoration: none;
}

html{
    font-family: var(--letraPrincipal);
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    background-color: var(--Gris-claro);
}

li{
    list-style: none;
}

/*************/
/***HEADER***/
/************/

header{
    
    padding:1.5rem;
    background-color: var(--Amarillo);
    
    font-size: var(--paragraph);
    position: sticky;
    top:0;
    z-index: 99999;
}

header div.top-header{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}


header img#logo{
    width: 40vw;
    margin-right: 3vw;
    
}

header div div.busqueda{
    display: flex;
    
}

header div div.busqueda input{
    width: 40vw;
    height: 3.2rem;
    
    border-radius: 0.5rem;
    border: 0px solid white;
    padding: 0.7rem;
}




header div div.busqueda button{
    position:relative;
    right:20px;
    top:3px;
    padding: 0.5px;
    height:25px;
    background:white;
    border: 0px solid white;
    border-radius: 0.5rem;
}

nav {
    display:none;
}

header p{
    padding: 1.6rem;
}

header div.menu-nav{
    display: flex;
    flex-direction: column;
    align-items: center ;
}

header div.menu-nav div.burger-menu{
    
    background-color: var(--Celeste);
    padding:0.5rem 0.8rem;
    border-radius: 0.5rem;
    font-size: 2rem;
    
    
}

header div.burger-menu a{
    color:white;
}


/*************/
/****MAIN****/
/************/
div.img-banner img{
    width:100%;
}

main{
    padding: 1.5rem;
}

main h3{
    margin: 0rem 1.5rem 1.5rem 1.5rem;
    color: var(--Gris-oscuro);   
}

main section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main section article.box-productos{
    width:100%;
    max-width: 300px;
    margin-bottom: 1.5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    
}

main section article.box-productos img{
    width:100%;
    
}

main section article.box-productos div{
    width:100%;
    background-color: #ffffff;
    padding: 1.6rem;
    
}

main section article.box-productos div i{
    color: var(--verderOscuro);
    padding: 0.5rem;
    
    
}

main section article.box-productos div p.precios{
    font-size: var(--Precios);
}

main section article.box-productos div p.descuentos{
    font-size: var(--Descuentos);
    color: var(--verderOscuro);
}

main section article.box-productos div strong{
    display:none;
    font-size: var(--Descripciones);
    color: var(--Gris-oscuro);
    padding: 1.6rem 0;
}



/*************/
/***FOOTER***/
/************/

footer{
    background-color: #ffffff;
    padding: 1.5rem;
    display:flex;
    flex-direction: column;
    text-align:center;
    
    margin: 3rem 0.5rem 0.5rem;
    align-items: center;
}

footer article{
    margin-top:4rem;
    width: 75%;
}

footer article i{
    color: var(--Celeste);
    font-size: 3rem;
    padding: 1rem;
}

footer article h4{
    font-size: var(--Descripciones);
}

footer article p{
    font-size: var(--paragraph);
}

footer article#copyright{
    width:100%;
    text-align: left;
}

/***************/
/*media queries*/
/****TABLET****/
/***************/

@media (min-width:361px){
    /*HEADER*/

    header{
        padding-bottom:0;
    }
    header div.burger-menu{
        display:none;
    }

    header img#logo{
        max-width:250px; 
    }

    header div div.busqueda input{
        max-width:350px;
    }
    
    h3.titulares{
        margin-left: 3.5vw;
    }
    
   

    main section article.box-productos div strong{
        display: block;
        padding: 0.4rem 0
    }
    main section article.box-productos{
        box-shadow: 0px 0px 10px rgb(100,100,100);
    }

    .product-details{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    div.product-details p.precios{
        order:0;
    }

    div.product-details p.descuentos{
        order:1;
        position:relative;
        right: 50px;
        
    }

    div.product-details i{
        order:2;
        border:1px solid var(--verderOscuro);
        border-radius: 50%;
        padding:5px;
        position:relative;
        top:-30px;
    }

    div.product-details strong{
        order: 3;
    }

    div.menu-nav nav{
        width:85%;
        display:flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    div.menu-nav nav ul{
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        
    }

    div.menu-nav nav ul li{
        padding: 1.6rem;
    }
    
    div.menu-nav nav ul li i{
        padding:5px;
    }
}

/*Media*/
/*Desktop*/

@media (min-width: 769px){
    header{
        padding-bottom:0;
    }

    footer{
        flex-direction:row;
        flex-wrap:wrap;
        justify-content: center;
    } 

    footer article.art-footer{
        width:30%;
    }
}